.DS_Store
ReaderLogs.xcodeproj/project.xcworkspace/xcuserdata/
ReaderLogs.xcodeproj/project.xcworkspace/xcuserdata/andreea23.xcuserdatad/UserInterfaceState.xcuserstate
ReaderLogs.xcodeproj/project.xcworkspace/xcuserdata/
ReaderLogs.xcodeproj/xcuserdata/mariadutu.xcuserdatad/
ReaderLogs.xcodeproj/xcuserdata/
ReaderLogs.xcodeproj/project.xcworkspace/xcuserdata/mariadutu.xcuserdatad/
ReaderLogs.xcodeproj/xcuserdata/mariadutu.xcuserdatad/
