.DS_Store
ReaderLogs.xcodeproj/project.xcworkspace/xcuserdata/
ReaderLogs.xcodeproj/project.xcworkspace/xcuserdata/andreea23.xcuserdatad/UserInterfaceState.xcuserstate
ReaderLogs.xcodeproj/project.xcworkspace/xcuserdata/
